const products = [
    {
        id: 1,
        name: "T-Shirt",
        price: 500,
        image: "../images/tshirt.jpg"
    },
    {
        id: 2,
        name: "Jeans",
        price: 1200,
        image: "../images/jeans.jpg"
    }
];